<%- include('../../partials/header.ejs') %> <%-
include('../../partials/navbar.ejs') %>
<div class="container">
  <div class="card" id="category-form">
    <div class="card-header">
      <h2>Editar categoria</h2>
    </div>
    <div class="card-body">
      <form action="/admin/categories/update" method="post">
        <input
          type="text"
          class="form-control"
          name="category"
          value="<%= category.category %>"
        />
        <br />
        <input type="hidden" name="id" value="<%= category.id %>">
        <button type="submit" class="btn btn-success">Salvar</button>
        <a href="/admin/categories" class="btn btn-outline-danger">Cancelar</button></a>
      </form>
    </div>
  </div>
</div>
<%- include('../../partials/footer.ejs') %>
