<%- include('../../partials/header.ejs') %> <%-
include('../../partials/navbar.ejs') %>
<div class="container">
  <br />
  <div class="row">
    <div class="col-sm-8"><h2>Notícias</h2></div>
    <div class="col-sm-4 text-end">
      <a href="/admin/news/new" class="btn btn-outline-primary"
        >Nova notícia</a
      >
    </div>
  </div>
  <table class="table table-bordered table-sm text-center">
    <thead class="table-ligth">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Notícia</th>
        <th scope="col">Slug</th>
        <th scope="col">Categoria</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% news.forEach(news => { %>
      <tr>
        <th scope="row"><%= news.id %></th>
        <td><%= news.title %></td>
        <td><%= news.slug %></td>
        <td><%= news.Category.category %></td>
        <td>
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <a
              href="/admin/news/edit/<%= news.id %>"
              class="btn btn-outline-warning"
              >Editar</a
            >
            <form
              action="/news/delete"
              method="post"
              style="display: inline"
              onsubmit="confirmDeletion(event, this)"
            >
              <input type="hidden" name="id" value="<%= news.id %>" />
              <button type="submit" class="btn btn-outline-danger">
                Deletar
              </button>
            </form>
          </div>
        </th>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<%- include('../../partials/footer.ejs') %>
<script>
  function confirmDeletion(event, form) {
    event.preventDefault();
    const option = confirm("Você deseja deletar esta notícia?");

    if (option) {
      form.submit();
    }
  }
</script>
